antlr4-python3-runtime
backcall
cached-property
cftime
colorama
coverage
Cython
decorator
ipython
ipython-genutils
jedi
netCDF4
numpy
pandas
parso
pickleshare
pip-autoremove
prompt-toolkit
Pygments
pyproj
python-dateutil
pytz
six
traitlets
wcwidth
xarray
