antlr4-python3-runtime==4.7.2
backcall==0.1.0
cftime==1.0.3.4
colorama==0.4.1
Cython==0.29.10
decorator==4.4.0
ipython==7.6.0
ipython-genutils==0.2.0
jedi==0.14.0
netCDF4==1.5.1.2
numpy==1.16.4
pandas==0.24.2
parso==0.5.0
pickleshare==0.7.5
pip-autoremove==0.9.1
prompt-toolkit==2.0.9
Pygments==2.4.2
pyproj==2.2.1
python-dateutil==2.8.0
pytz==2019.1
six==1.12.0
traitlets==4.3.2
wcwidth==0.1.7
xarray==0.12.1
